.resources {
    margin-bottom: 217px;
    margin-top: 100px;
  }

  .resources__logo-zone {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
    list-style: none;
  }

  .resources__logo {
    width: 270px;
    height: 38px;
    align-content: center;
  }

  .resources__logo:hover {
    opacity: 0.5;
    transition: 0.4s;
  }