  .feynman__link {
    position: absolute;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    color: #000000;
    top: 50%;
    right: 48px;
    text-decoration: none;
  }

 .feynman__link:hover {
  opacity: 0.5;
  transition: 0.4s;
 }