@import url(./__book/khan__book.css);
@import url(./__buy-link/khan__buy-link.css);
@import url(./__quote/khan__quote.css);
@import url(./__title/khan__title.css);
@import url(./__author/khan__author.css);
.khan {
  background-color: #f2f2f2;
}

.khan__container {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 105px;
}


