.khan {
  background-color: #f2f2f2;
}

.khan__container {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 105px

}

.khan__author {
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}
