.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f2f2f2;
  overflow: hidden;
  }

  .header__title {
    margin-left: 64px;
    max-width: 730px;
    width: 100%;
    font-size: 102px;
    line-height: 96px;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
  }

  .header__subtitle {
    position: absolute;
    left: 64px;
    width: 388px;
    bottom: 30px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    }

  .header__link {
    color: #2f80ed;
    text-decoration: none;
  }

  .header__link:hover {
    opacity: 0.5;
    transition: 0.4s;
  }

  .header__square-pic {
    position: absolute;
    height: 568px;
    width: 568px;
    background-color: #2f80ed;
    right: 0;
    align-self: center;
    top: 64px;
  }

  .header__main-illustration {
    object-fit: fill;
    width: 765px;
    height: 608px;
    position: absolute;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }