.video__iframes {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: -50px;
}

.video__iframe {
  width: 515px;
  height: 316px;
  border: none;
}

.video__iframe:first-of-type {
  margin-right: 20px;
}