.resources__logo-zone {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
    list-style: none;
    max-width: 183px;
    max-height: 35px;
  }
  /*не нужно обнулять левый внутренний край*/